{% extends 'remindo/base.html' %}

{% block title %}
Remindo is a reminder 
{% endblock %}


{% block content %}
<h2> Live visitors counter: {{ counter }} </h2>

Remindo is a reminder service, where users are able to schedule text message reminders <br><br>
to be sent to them at a later date. <br>

Users have to  <a href="/register">sign up</a> for a free account, before being able to schedule text messages.<br> <br>
 
The user can review the currently pending messages, arranged in a queue.<br> <br>

An administrator can review all currently pending messages. Once a message<br> 
has been sent successfully, it is marked in some way.<br> <br>

{% endblock %}