{% extends "remindo/base.html" %}
{% block title %}View List{% endblock %}
 
{% block content %}
 	{% for reminder in reminders %}
 	
		<div class="accordion" id="reminder_{{reminder.id}}">
		  <div class="card">
		    <div class="card-header" id="headingOne">
		      <h5 class="mb-0">
		        <button class="btn btn-link " type="button" data-toggle="collapse" data-target="#collapse_{{reminder.id}}" aria-expanded="true" aria-controls="collapseOne">
		          {{reminder.title}}
		        </button>
		        <p style="float:right">({{reminder.delivery_time}})</p>
		      </h5>
		    </div>
		
		    <div id="collapse_{{reminder.id}}" class="collapse collapsed" aria-labelledby="headingOne" data-parent="#reminder_{{reminder.id}}">
		      <div class="card-body">
		         {{reminder.message}}
		      </div>
		    </div>
		  </div>
		</div>
   	{% endfor %}
{% endblock %}
